.header {
    background-image: url("images/headerimg.jpg");
    background-size: cover;
    background-position: center;
    height: 220px;
    border-radius: 20px;
}

.headernav {
    font-size: 30px;
    text-align: center;
}

.headernav span {
    margin: 30px;
}

.sidebar {
    margin-left: auto;
    width: 35%;
    height: 550px;
    float: right;
    text-align: center;
}

.content {
    margin-right: auto;
    width: 64.5%;
    height: 550px;
    float: left;
}

.sidebar input {
    margin: 10px;
    width: 300px;
}

.sidebar div {
    border: 1px solid;
    margin-bottom: auto;
    background-color: green;
    border-radius: 20px;
    float: top;
    font-size: 20px;
}

.sidebar .registration {
    display:flex;
    justify-content:center;
    align-items:center;
    height: 60px;
}

.sidebar .registration a {
    color: black;
    font-size:30px;
}

.sidebar .categories p {
    font-size: 30px;
    margin: 10px;
}

.sidebar .categories a {
    color: black;
}

.footer {
    height: 120px;
    border: 1px solid;
}

.footernav {
    font-size: 20px;
    text-align: center;
}

.footernav span {
    margin: 30px;
}


